<h1>Sign In/Up</h1>
<div class="oj-hybrid-padding">
    <h2>Sign in</h2>
    <div>
      <oj-input-text id="login-result" value="{{loginResult}}" readOnly="true"></oj-input-text>
      <oj-label for="username-input">Enter your username</oj-label>
      <oj-input-text id="username-input" value="{{username}}"></oj-input-text>
  
      <br/>
      <oj-label for="password">Enter your Password</oj-label>
      <oj-input-password id="password" value="{{password}}">
      </oj-input-password>
      <br/>
      <oj-button id='loginButton' on-click='[[loginButtonClick]]'>Login</oj-button>
      
      <h1> New account</h1>
      <p>Not registered yet? Sign up now!</p>

      <oj-button id='signUp' on-click='[[signUpLinkClick]]'>Sign Up</oj-button>

      
    </div>
  </div>