<h2>Sign In/Up</h2>
<p>Current user:<span data-bind="text: username"></span></p>
<div class="oj-hybrid-padding">
    <h1>Customers Area for Logging in</h1>
    <div>
      <oj-label for="username-input">Type username</oj-label>
      <oj-input-text id="username-input" value="{{username}}"></oj-input-text>
  
      <br/>
      <oj-label for="password">Type Password</oj-label>
      <oj-input-password id="password" value="{{password}}">
      </oj-input-password>
      <br/>
      <oj-button id='loginButton' on-click='[[loginButtonClick]]'>Login</oj-button>

      <oj-button id='signUp' on-click='[[signUpLinkClick]]'>Sign Up</oj-button>

      
    </div>
  </div>