<h1>Sign In/Up</h1>
<div class="oj-hybrid-padding">
    <h2>Sign in</h2>
    <div>
        <div class="demo-signin-form-container oj-hybrid-padding">
            <form method="post" action="" name="signInForm">
                <!--oj-input-text id="login-result" value="{{loginResult}}" readOnly="true"></oj-input-text>
                <oj-label for="username-input">Enter your username</oj-label-->
                <div>
                <oj-input-text id="username-input" placeholder='User name' spellcheck='false' autocorrect='off' autocapitalize=off aria-label='User Name' value='{{username}}' required='true'></oj-input-text>
                </div>
                <br/>
                <div>
                <oj-input-password id="password" placeholder='Password' autocomplete='off' value="{{password}}" placeholder='Password' required='true'></oj-input-password>
                </div>
                <br/>
            <div class="oj-hybrid-padding-top">
                <button class="oj-button-primary" data-bind="click: loginButtonClick,
                   ojComponent: {
                       component: 'ojButton',
                       label: 'Login'
                   }">
                </button>
            </div>
                </form>


            <h1> New account</h1>
            <p>Not registered yet? Sign up now!</p>
        </div>

         <div class="oj-hybrid-padding-top">
                <button class="oj-button-primary" data-bind="click: signUpLinkClick,
                   ojComponent: {
                       component: 'ojButton',
                       label: 'Sign Up'
                   }">
                </button>
         </div>


    </div>
</div>